* {
    font-family: 'Source Code Pro', monospace;
    font-size: 22px;
}
.greeting {
    color: #f3f3f3;
    font-size: 22px;
    padding-top: 15vh;
    padding-bottom: 10vh;
    text-align: center;
}
.grey {
    color: #586e75;
}
.margin-top1 {
    margin-top: 5vh;
}
.margin-top2 {
    margin-top: 15vh;
}
.lilac {
    color: #6c71c4;
}
.my-btn {
    font-family: 'Source Code Pro', monospace;
    font-size: 17px;
    padding-left: 30px;
    padding-right: 30px;
}
.screen {
    height: 100vh ;
}
.screen1-color {
    background-color: #6c71c4;
}
.screen2-color {
    background-color: #dadada;
}
.screen4-color {
    background-color: #c0dcc0;
}