* {
    font-family: 'Source Code Pro', monospace;
    font-size: 22px;
}
                                        /*  ОФОРМЛЕНИЕ ССЫЛОК */
a:link {
    font-size: 18px;
    color: #586e75;
    text-decoration: none;
}
a:hover {
    color: #6c71c4;
}
a:active {
    font-weight: bold;
}
span {
    color: #586e75;
    font-size: 20px;
}
                                          /*  ВЫРАВНИВАНИЕ */
.align-year {
    text-align: right;
}
.align-portfolio {
    text-align: center;
}
                                             /*  ЦВЕТ ФОНА */
.bg-echeveria {
    background-color: #fdf6e3;
    background-image: url('../images/echeveria.png');
    background-size: cover;
}
.bg-green {
    background-color: #71b783;
}
.bg-lilac {
    background-color: #6c71c4;
}
.bg-mint {
    background-color: #c0dcc0;
}
.bg-silver  {
    background-color: #dadada;
}
.bg-triangles {
    background-color: #586e75;
    background-image: url('../images/triangles.png');
}
.city {
    font-size: 20px;
}
                                                /*  ЦВЕТ ТЕКСТА */
.color-gray {
    color: #586e75;
}
.color-lilac {
    color: #6c71c4;
}
.color-pearl {
    color: #fdf6e3;
}
.cursor-pointer {
    cursor: pointer;
}
                                /*  ОФОРМЛЕНИЕ ФОРМЫ ДЛЯ СВЯЗИ */
.input {
    border: none;
    border-radius: 5px;
    background-color: #586e75 ;
    font-family: 'Source Code Pro', monospace;
    font-weight: 300;
    font-size: 18px;
    opacity: 0.4;
    padding: 5px 0px 5px 10px;
    width: inherit;
}
                            /*  ОФОРМЛЕНИЕ ТЕКСТА ПРИВЕТСТВИЯ */
.greeting {
    color: #f3f3f3;
    font-size: 22px;
    padding-top: 15vh;
    padding-bottom: 10vh;
    text-align: center;
}
                                        /* ШИРИНА БЛОКОВ КОНТАКТЫ */
.min-width-contact-left {
    min-width: 166px;
}
.min-width-contact-right {
    min-width: 248px;
    padding-left: 0px;
}
                                    /*  ОФОРМЛЕНИЕ КНОПОК */
.my-btn {
    border: none;
    font-family: 'Source Code Pro', monospace;
    font-size: 17px;
    padding-left: 30px;
    padding-right: 30px;
}
                                        /*  РАЗМЕР ЭКРАНА */
.screen {
    height: 100vh;
    min-width: 1100px;
}
                                            /*  ОТСТУПЫ */
.padding-bottom-xsm {
    padding-bottom: 5px;
}
.padding-left {
    padding-left: 3vw;
}
.padding-left-sm {
    padding: 0px 0px 0px 5px;
}
.padding-right {
    padding-right: 3vw;
}
.padding-right-sm {
    padding: 0px 5px 0px 0px;
}
.padding-top-lg {
    padding-top: 200px;
}
.padding-top-md {
    padding-top: 150px;
}
.padding-top-sm {
    padding-top: 50px;
}
.padding-top-xsm {
    padding-top: 10px;
}
.progress-font {
    font-size: 19px;
    font-weight: 300;
}
                       /*  ОФОРМЛЕНИЕ ТЕКСТОВОГО ПОЛЯ */
.textarea {
    outline: none;
    overflow: auto;
    resize: none;
    padding-top: 5px;
}
                      /*  ЦВЕТ ТЕКСТА В PLACEHOLDER  */
::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color: #fdf6e3;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color: #fdf6e3;
    opacity: 1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: #fdf6e3;
    opacity: 1;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #fdf6e3;
}
                                            /*  ZOOM  */
.zoom:hover {
    zoom: 1.05;
}